ipython==8.12.0
kaleido==0.2.1
matplotlib==3.7.1
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
numpy==1.25.2
pandas==2.0.3
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==2.0.3.230814
pip==23.1.2
pip-tools==6.13.0
plotly==5.15.0
seaborn==0.13.1
